  body{
    font-family: 'Source Sans Pro', 
    sans-serif; 
    color: black;
    position: relative;
    padding: 0px;
    margin: 0px;
    }

   .container{
    height: 100%;
    width: 100%;
    position: relative;
   }


  .frame{
      height: 70%;
    width: 72%;
    position: absolute;
    top: 0%;
    left: 0%;
   }

