  body{
	font-family: 'Source Sans Pro', 
	sans-serif; 
	color: black;
    position: relative;
    padding: 0px;
    margin: 0px;
    }

  .container{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    border:3px solid blue;
    background-color:#1df7e5;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .frame{
    border: 3px solid blue;
    background-color: #1df7e5;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 88%;
    width: 94%;
    top: 5%;
    left: 2.5%;
  }