  body{
	font-family: 'Source Sans Pro', 
	sans-serif; 
	color: black;
    position: relative;
    padding: 0px;
    margin: 0px;
    }

  .container{
    height: 100%;
    width: 100%;
    position: fixed;
    margin: 0px;
    padding: 0px;
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .frame{
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 1202px;
    width: 500px;
    left: 15%;
    left: 3%;
    clip-path: polygon(68% 0, 59% 33%, 75% 33%, 34% 98%, 41% 59%, 24% 59%, 33% 0);
  }